#bodyfooter {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ele1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  position: relative;
  width: 1270px;
  height: 869px;
  left: 0px;
  top: 3103px;
  background: #316099;
  border-radius: 0px 200px 0px 0px;
  color: white;
}

.lp1h2 {
  position: absolute;
  width: 387px;
  height: 122px;
  left: 213px;
  top: 100px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.lp1p {
  position: absolute;
  width: 460px;
  height: 80px;
  left: 213px;
  top: 234px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.6;
}

.botonfinal {
  position: absolute;
  width: 220px;
  height: 56px;
  left: 924px;
  top: 207px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: #5A98D0;
  border-radius: 10px;
}

.pf1 {
  position: absolute;
  width: 320px;
  height: 80px;
  left: 213px;
  top: 434px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.6;
}

.pf1_circulo2 {
  right: 18.75%;
  top: 51px;
  bottom: 16.67%;
  border: 1px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

.pf1_logo2 {
  left: 90px;
  font-family: Gilroy;
  font-size: 20px;
  line-height: 28px;
  background-color: white;
  letter-spacing: 0.04em;
  border-color: blue 2px;
  color: #316099;
  right: 18.75%;
  top: 51px;
  bottom: 16.67%;
  border: 1px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: white;
}

.pf1_bfinal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  letter-spacing: 0.04em;
}

.lp1h2 {
  position: absolute;
  width: 387px;
  height: 122px;
  left: 213px;
  top: 100px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.lp1p {
  position: absolute;
  width: 460px;
  height: 80px;
  left: 213px;
  top: 234px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.6;
}

.botonfinal {
  position: absolute;
  width: 220px;
  height: 56px;
  left: 924px;
  top: 207px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: #5A98D0;
  border-radius: 10px;
}

.pf1 {
  position: absolute;
  width: 320px;
  height: 80px;
  left: 213px;
  top: 434px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.6;
}

.pf1_circulo2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: blue;
  left: 77.5px;
  right: 18.75%;
  top: 51px;
  bottom: 16.67%;
  border: 1px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

.pf2 {
  position: absolute;
  width: 320px;
  height: 80px;
  left: 621px;
  top: 434px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.pf2_header {
  font-size: 20px;
}

.pf2_list {
  display: -ms-grid;
  display: grid;
}

.pf2_list a {
  color: white;
}

.pf3 {
  position: absolute;
  width: 320px;
  height: 80px;
  left: 810px;
  top: 434px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.pf3_header {
  font-size: 20px;
}

.pf3_list {
  display: -ms-grid;
  display: grid;
}

.pf3_list a {
  color: white;
}

.pf4 {
  position: absolute;
  width: 293px;
  height: 26px;
  left: 213px;
  top: 666px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.4;
  padding-top: 100px;
}
/*# sourceMappingURL=footer.css.map */